.outside-frame {
    display: flex;
    flex-direction: column;
}

.inside-frame {
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
}

.inside-frame:nth-of-type(1) {
    flex: 1;
}

.inside-frame:nth-of-type(2) {
    flex: 9;
}

.swiper-container {
    max-width: 100%;
    overflow-x: hidden;
}

.swiper-pagination {
    position: absolute;
    top: 10px !important;
    display: flex;
    justify-content: center;
    gap: 40px;
    z-index: 10; /* 슬라이더랑 겹치면 위로 오도록 함 */
}

/* 숫자(도트) 스타일 조정 */
.swiper-pagination .swiper-pagination-bullet {
    width: auto;               /* 기본 도트 크기를 해제하고 숫자 크기에 맞게 조정 */
    height: 30px;              /* 높이도 자동 조정 */
    padding: 10px 15px;        /* 크기 확대 효과 */
    font-size: 21px;           /* 숫자 크기 조정 */
    background: #000;          /* 배경색 설정 */
    color: #fff;               /* 텍스트 색상 설정 */
    border-radius: 10px;       /* 약간의 둥근 모서리 추가 */
    opacity: 1;                /* 투명도를 없애고 명확하게 표시 */
    transition: background 0.3s ease; /* 호버 시 배경색 변경 효과 추가 */
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: #007bff;       /* 선택된 숫자(도트) 배경 색상 변경 */
    color: #fff;               /* 선택된 숫자 색상 */
}
