.cursor-pointer {
    cursor: pointer;
}

.outside-frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.inside-frame {
}

.inside-frame-header {
}

.inside-frame-body {
}

.header-menu {
    padding: 5px;
    min-height: 30px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    float: left;
    margin-right: 10px;
}

.sign-menu {
    float: right;
}

.content-frame {
    background: rgba(245, 245, 245, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    box-shadow: inset 0 1px 0 #dee2e6, inset 0 -1px 0 #dee2e6;
}

.under-bar {
    margin: 5px 0 5px 0;
    border-bottom: 1px solid;
}

@media(max-width:768px) {
    /*.outside-frame {
        max-width: 90vw;
    }*/
}
