.cursor-pointer {
    cursor: pointer;
}

.outside-frame {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.header-menu {
    padding: 5px;
    min-height: 30px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul li {
    float: left;
    margin-right: 10px;
}

.sign-menu {
    float: right;
}

.under-bar {
    margin: 5px 0 5px 0;
    border-bottom: 1px solid;
}

.btn-area {
    cursor: pointer;
}

.btn-area > div:hover {
    opacity: 0.8;
}

.btn-back-circle {
    z-index: 1000;
    display: block !important;
    position: absolute;
    border-radius: 50%;
    border: 1px solid;
    top: 2.5%;
    left: 2%;
}

@media(max-width:768px) {
}
