html, body {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.background-random-img {
    background-image: url("/img/background/background01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;

    position: absolute;
    min-height: 400px;
    min-width: 400px;
    height: 80%;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

    z-index: -1;

    margin: 0;
    padding: 0;
    border-radius: 25px;
}

#background-airplane-icon {
    font-size: xx-large;
    opacity: 0.7;

    animation: airplane-fly 8s linear infinite;
}

.inside-frame {
    width: 100%;
    height: 100%;
}

.inside-frame-body {
    width: 100%;
    height: 100%;
}

@keyframes airplane-fly {
    0% {
        transform: translateX(-5vw) translateY(40vh) rotate(-8deg);
        color: black;
    }
    100% {
        transform: translateX(105vw) translateY(0vh) rotate(-15deg);
        color: white;
    }
}

@-webkit-keyframes airplane-fly {
    0% {transform: translateX(-5vw) translateY(40vh) rotate(-8deg);}
    100% {transform: translateX(105vw) translateY(0vh) rotate(-15deg);}
}

.content-frame {
    position: absolute;
    border: 1px solid;
    min-height: 400px;
    min-width: 400px;
    height: 80%;
    width: 80%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    /*transform: translate(-50%, -50%) rotate(3deg);
    -webkit-transform: translate(-50%, -50%) rotate(3deg);
    -moz-transform: translate(-50%, -50%) rotate(3deg);*/
}

.inside-frame-header {
    top: 0;
}

.main-logo-img {
    width: 60px;
    float: right;
}

.main-logo-text-area {
    position: absolute;
    white-space: nowrap;
}

.main-logo-text-area:nth-of-type(1) {
    left: 0;
    top: 0;
}

.main-logo-text-area:nth-of-type(2) {
    right: 0;
    bottom: 0;
}

.enter-area-group {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);

    text-align: center;
}

#enter-icon {
    color: green;
    font-size: 72px;
    text-shadow: 2px 0px 5px darkolivegreen;

    animation: up-down-motion 1s linear 0s infinite alternate;
}

#enter-icon:hover {
    color:yellow;
}

@keyframes up-down-motion {
    0% {margin-top: 0px;}
    100% {margin-top: 30px;}
}

@-webkit-keyframes up-down-motion {
    0% {margin-top: 0px;}
    100% {margin-top: 30px;}
}

/*.enter-text-one {
    cursor: pointer;
}

.enter-text-one:nth-of-type(1):hover {
    color:red;
}

.enter-text-one:nth-of-type(2):hover {
    color:green;
}

.enter-text-one:nth-of-type(3):hover {
    color:blue;
}

.enter-text-one:nth-of-type(4):hover {
    color:orange;
}

.enter-text-one:nth-of-type(5):hover {
    color:purple;
}

.enter-text-one:nth-of-type(6):hover {
    color:yellow;
}*/

#enter-text {
    color: white;
    font-weight: bold;
    font-size: 32px;
    text-shadow: 2px 2px 0px #1565C0, 4px 4px 0px #0049cf, 6px 6px 0px #E3F2FD;
}

.main-logo-text {
    margin-right: 10px;
    font-weight: bold;
    font-size: 62px;
    text-shadow: 1px 1px 0px #1565C0, 2px 2px 0px #0049cf, 4px 4px 0px #E3F2FD;
}

.main-logo-text:nth-child(1) {
    color:green;
}

.main-logo-text:nth-child(2) {
    color:red;
}

.main-logo-text:nth-child(3) {
    color:deeppink;
}

.main-logo-text:nth-child(4) {
    color:brown;
}

.main-logo-text:nth-child(5) {
    color:blue;
}

.main-logo-text:nth-child(6) {
    color:purple;
}

.main-logo-text:nth-child(7) {
    color:orange;
}

.main-logo-text:nth-child(8) {

    color:gray;
}

.main-logo-text:nth-child(9) {
}

@media(max-width:768px) {
    .main-logo-text {
        font-size: 46px;
    }

    .main-logo-text-area {
        left: -5%;
    }

    .inside-frame-header {
        top: -15%;
    }

    @keyframes airplane-fly {
        0% {
            transform: translateX(-5vw) translateY(20vh) rotate(-8deg);
            color: black;
        }
        100% {
            transform: translateX(105vw) translateY(0vh) rotate(-15deg);
            color: white;
        }
    }

    @-webkit-keyframes airplane-fly {
        0% {
            transform: translateX(-5vw) translateY(20vh) rotate(-8deg);
            color: black;
        }
        100% {
            transform: translateX(105vw) translateY(0vh) rotate(-15deg);
            color: white;
        }
    }
}
