<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MOJUK</title>
    <link th:href="@{/css/index.css}" rel="stylesheet">
</head>
<th:block th:replace="~{include/header :: header}"></th:block>
<body>
    <i id="background-airplane-icon" class="fa-solid fa-plane"></i>
    <section class="outside-frame">
        <div class="inside-frame">
            <div class="inside-frame-header">
            </div>
            <div class="inside-frame-body">
                <section class="background-random-img"></section>
                <div class="content-frame">
                    <img class="main-logo-img" th:src="@{/img/mojuk(transparent).png}">
                    <div class="main-enter-area">
                        <div class="enter-area-group cursor-pointer" id="enter-page-left">
                            <i class="fa-solid fa-timeline enter-icon" id="enter-icon-left"></i>
                            <p>
                                <label class="enter-text" for="enter-icon-left">
                                    <span class="enter-text-one">H</span>
                                    <span class="enter-text-one">I</span>
                                    <span class="enter-text-one">S</span>
                                    <span class="enter-text-one">T</span>
                                    <span class="enter-text-one">O</span>
                                    <span class="enter-text-one">R</span>
                                    <span class="enter-text-one">Y</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="main-enter-area">
                        <div class="enter-area-group cursor-pointer" id="enter-page-right">
                            <i class="fa-solid fa-laptop-code enter-icon" id="enter-icon-right"></i>
                            <p>
                                <label class="enter-text" for="enter-icon-right">
                                    <span class="enter-text-one">P</span>
                                    <span class="enter-text-one">R</span>
                                    <span class="enter-text-one">O</span>
                                    <span class="enter-text-one">J</span>
                                    <span class="enter-text-one">E</span>
                                    <span class="enter-text-one">C</span>
                                    <span class="enter-text-one">T</span>
                                    <span class="enter-text-one">S</span>
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script th:src="@{/js/index.js}"></script>
</body>
</html>
