<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>mojuk talk</title>
    <link rel="stylesheet" th:href="@{/css/talk/talk.css}">
</head>
<th:block th:replace="~{include/header :: header}"></th:block>
<body>
    <section class="message-area">
        <div class="message-list-area">
            <div class="room-btn-area">
                <input class="btn btn-create-room" type="button" value="개설">
                <input class="btn btn-join-room" type="button" value="참여">
            </div>
        </div>
        <div class="message-contents-area">
            <div class="message-content-container">
                <div class="contents-status">
                    <input id="currentRoomId" readonly type="text" value="">
                    <input class="btn btn-content-close" type="button" value="닫기">
                </div>
                <div class="user-message">
                    <div class="message-container" id="messages">

                    </div>
                </div>
                <div class="form-input">
                    <span>메시지</span>
                    <input class="form-text input-messages" placeholder="메시지를 입력하세요." type="text">
                    <input class="btn btn-chat-enter" type="button" value="입력">
                </div>
            </div>
        </div>
    </section>
    <section class="popup-form-area">
        <div class="popup-background create-form">
            <form class="popup-form" name="createForm">
                <div class="form-input">
                    <span>이메일</span>
                    <input class="form-text user-email" name="createEmail" placeholder="이메일" type="text">
                </div>
                <div class="form-input">
                    <span>비밀번호</span>
                    <input class="form-text user-room-password" name="createPassword" placeholder="비밀번호"
                           type="password">
                </div>
                <div class="form-button">
                    <input class="form-submit btn btn-create-room-view" type="button" value="생성">
                    <input class="form-cancel btn" type="button" value="취소">
                </div>
            </form>
        </div>
        <div class="popup-background join-form">
            <form class="popup-form" name="joinForm">
                <div class="form-input">
                    <span>방 번호</span>
                    <input class="user-room" name="joinRoomId" placeholder="방 번호" type="text">
                </div>
                <div class="form-input">
                    <span>이메일</span>
                    <input class="user-room-email" name="joinEmail" placeholder="이메일" type="text">
                </div>
                <div class="form-input">
                    <span>비밀번호</span>
                    <input class="user-room-password" name="joinPassword" placeholder="비밀번호" type="password">
                </div>
                <div class="form-button">
                    <input class="form-submit btn btn-join-room-view" type="button" value="입장">
                    <input class="form-cancel" type="button" value="취소">
                </div>
            </form>
        </div>
    </section>
    <input id="userEmail" type="hidden" value="">
    <input id="userType" type="hidden" value="">
    <th:block th:replace="~{include/header :: header-util-area}"></th:block>
    <script th:src="@{/js/talk/talk.js}"></script>
    <script th:src="@{/js/talk/talk_option.js}"></script>
</body>
</html>