<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>mojuk talk</title>
    <link rel="stylesheet" th:href="@{/css/talk/talk.css}">
</head>
<th:block th:replace="~{include/header :: header}"></th:block>
<body>
    <section class="message-area">
        <div class="message-list-area">
            <div class="room-btn-area">
                <input class="btn btn-create-room" type="button" value="개설">
                <input class="btn btn-join-room" type="button" value="참여">
            </div>
        </div>
        <div class="message-contents-area">
            <div class="user-message">
                <div id="messages">

                </div>
            </div>
        </div>
    </section>
    <section class="popup-form-area">
        <div class="popup-background create-form">
            <div class="popup-form">
                <div class="form-input">
                    <span>email</span>
                    <input class="form-text user-email" placeholder="email" type="text">
                </div>
                <div class="form-input">
                    <span>방 번호</span>
                    <input class="form-text user-room" placeholder="방 번호" type="text">
                </div>
                <div class="form-button">
                    <input class="form-submit" type="button" value="생성">
                    <input class="form-cancel" type="button" value="취소">
                </div>
            </div>
        </div>
        <div class="popup-background join-form">
            <div class="popup-form">
                <div class="form-input">
                    <span>방 번호</span>
                    <input class="user-room" placeholder="방 번호" type="text">
                </div>
                <div class="form-button">
                    <input class="form-submit" type="button" value="입장">
                    <input class="form-cancel" type="button" value="취소">
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/talk/talk.js}"></script>
    <script th:src="@{/js/talk/talk_option.js}"></script>
</body>
</html>