<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>mojuk talk</title>
    <link rel="stylesheet" th:href="@{/css/talk/talk.css}">
</head>
<body>
    <section>
        <div class="left-area">
            <div class="user-list">

            </div>
        </div>
        <div class="right-area">
            <div class="user-message">
                <div id="messages">

                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/js/talk/talk_option.js}"></script>
</body>
</html>