<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>mojuk history</title>
    <link href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
          rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/css/history/history.css}">
</head>
<th:block th:replace="~{include/header :: header}"></th:block>
<body>
    <section class="outside-frame">
        <div class="inside-frame">
            <div class="swiper-pagination"></div>
        </div>
        <div class="inside-frame">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="swiper-slide-header">Slide 1</div>
                        <div class="swiper-slide-body">
                            <div id="users">
                                <input class="search" placeholder="Search" />
                                <button class="sort" data-sort="name">Sort by name</button>
                                <button class="sort" data-sort="born">Sort by born</button>
                                <ul class="list"></ul>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js}"></script>
    <script th:src="@{//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js}"></script>
    <script th:src="@{/js/history/history.js}"></script>
</body>
</html>
